/************* Component *******************************/

:host {
  /* Colors */
  --component-background-color: black;
  --text-color: white;
  --logo-text-color: #ff9500;

  /* Desktop font sizes*/
  --text-desktop-font-size: 21px;
  --note-desktop-font-size: 15px;

  /* Tablet font sizes*/
  --text-tablet-font-size: 18px;
  --note-tablet-font-size: 13px;

  /* mobile font sizes*/
  --text-mobile-font-size: 16px;
  --note-mobile-font-size: 13px;

  /* Font family */
  --title-font-family: inherit;
  --text-font-family: inherit;
}

:host {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  display: block;
}

/************* Global *******************************/

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-desktop-font-size);

  text-align: center;
  margin: 0;
}

/************* Footer *******************************/

footer {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  padding: 40px 24px 10px 24px;
  background-color: var(--component-background-color);
  box-sizing: border-box;

  margin: 0 auto;
}

.info-section {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

/************* Logos container *******************************/

.logos-container {
  width: 100%;
  justify-self: start;
  align-self: start;
}

.logos-container .logo {
  color: var(--text-color);
  font-size: 26px;
  font-family: var(--title-font-family);
  font-weight: 400;

  margin: 0;
}

.logo span {
  color: var(--logo-text-color);
}

/************* Site map *******************************/

.site-map {
  justify-self: center;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 16px;
}

/************* Social container *******************************/

.location-container {
  justify-self: end;
  align-self: start;
}

.location-container .location-img {
  width: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(289deg)
    brightness(103%) contrast(103%);
  margin-right: 4px;
}

.location-container span {
  margin-right: 8px;
}

.location-container .flag {
  width: 16px;
}

/************* Copy info *******************************/

.copy-info span {
  font-size: var(--note-desktop-font-size);
}

/************* Media queries ***************************************/

/************* Tablet range 600px - 1200px *****************/

@media screen and (max-width: 1200px) {
  .text {
    font-size: var(--text-tablet-font-size);
  }

  .copy-info span {
    font-size: var(--note-tablet-font-size);
  }
}

@media screen and (max-width: 800px) {
  .info-section {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .location-container {
    width: 100%;
    text-align: center;
  }

  .logos-container,
  .location-container {
    place-self: center;
  }

  .logos-container .logo {
    text-align: center;
  }
}

/************* Mobile range 320px - 600px *********************/

@media screen and (max-width: 600px) {
  .text {
    font-size: var(--text-mobile-font-size);
  }

  .copy-info span {
    font-size: var(--note-mobile-font-size);
  }

  .copy-info {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .site-map {
    grid-template-columns: 1fr;
  }
}
