/*************Global*******************************/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
  --black-gradient: linear-gradient(to right, #434343 0%, black 100%);

  /* big screen range: > 1800px */
  /* desktop range: 1200px 1800px */
  /* tablet range: 600px 1200px */
  /* mobile range: 320px 600px */

  /* Desktop */
  --large-font-size-1: 11px;
  --large-font-size-2: 15px;
  --large-font-size-3: 21px;
  --large-font-size-4: 30px;
  --large-font-size-5: 42px;
  --large-font-size-6: 60px;
  --large-font-size-7: 84px;
  --large-font-size-8: 119px;

  /* Tablet */
  --medium-font-size-1: 9px;
  --medium-font-size-2: 13px;
  --medium-font-size-3: 18px;
  --medium-font-size-4: 25px;
  --medium-font-size-5: 36px;
  --medium-font-size-6: 51px;
  --medium-font-size-7: 72px;
  --medium-font-size-8: 102px;

  /* mobile */
  --small-font-size-1: 9px;
  --small-font-size-2: 13px;
  --small-font-size-3: 16px;
  --small-font-size-4: 20px;
  --small-font-size-5: 25px;
  --small-font-size-6: 31px;
  --small-font-size-7: 39px;
  --small-font-size-8: 49px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: var(--large-font-size-8);
}

h2 {
  font-size: var(--large-font-size-7);
}

h3 {
  font-size: var(--large-font-size-6);
}

h4 {
  font-size: var(--large-font-size-5);
}

h5 {
  font-size: var(--large-font-size-4);
}

h6 {
  font-size: var(--large-font-size-3);
}

p,
a,
li,
span {
  font-size: var(--large-font-size-3);
  font-family: "Raleway", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.general-section {
  margin-bottom: 56px;
}

/*************Components*******************************/

dp-header {
  --font-style: "Raleway", sans-serif;
  --d-paragraph-size: var(--large-font-size-3);
  --d-note-size: var(--large-font-size-2);

  --t-paragraph-size: var(--medium-font-size-3);
  --t-note-size: var(--medium-font-size-2);

  --m-paragraph-size: var(--small-font-size-3);
  --m-note-size: var(--small-font-size-2);
}

dp-footer {
  --font-style: "Raleway", sans-serif;
  --d-paragraph-size: var(--large-font-size-3);
  --d-note-size: var(--large-font-size-2);

  --t-paragraph-size: var(--medium-font-size-3);
  --t-note-size: var(--medium-font-size-2);

  --m-paragraph-size: var(--small-font-size-3);
  --m-note-size: var(--small-font-size-2);
}

dp-hero {
  --title-font-family: "Cormorant Garamond", serif;
  --title-font-size: var(--large-font-size-7);
  --text-font-family: "Raleway", sans-serif;
  --text-font-size: var(--large-font-size-3);
}

dp-grid-gallery {
  --title-font-size: var(--large-font-size-7);
  --text-font-size: var(--large-font-size-3);

  --title-font-family: "Cormorant Garamond", serif;
  --text-font-family: "Raleway", sans-serif;
}

/* ********************* Media queries******************************* */

/************* desktop range 1200px - 1800px **********************/

/************* tablet range 600px - 1200px*************************/

@media screen and (max-width: 1200px) {
  .text {
    font-size: calc(var(--large-font-size-3) * 0.86);
  }

  .title {
    font-size: calc(var(--large-font-size-7) * 0.86);
  }
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: calc(var(--large-font-size-7) * 0.46);
  }
}

/************* mobile range 320px - 600px***************************/

@media screen and (max-width: 600px) {
  .text {
    font-size: calc(var(--text-font-size) * 0.76);
  }
}
