/*************Component*******************************/

:host {
  --background-color: white;
  --font-color: black;
  --font-style: inherit;

  /* Desktop */
  --d-note-size: 15px;
  --d-paragraph-size: 21px;

  /* Tablet */
  --t-note-size: 13px;
  --t-paragraph-size: 18px;

  /* mobile */
  --m-note-size: 13px;
  --m-paragraph-size: 16px;
}

:host {
  width: 100%;
  border-bottom: 1px solid #cecece;
  display: block;
}

/*************Global*******************************/

p,
a,
span,
ul,
li {
  color: var(--font-color);
  font-family: var(--font-style);
  font-size: var(--d-paragraph-size);
  padding: 0;

  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

ul {
  list-style: none;
}

/*************Header*******************************/

header {
  width: 100%;
  padding: 12px;
  background-color: var(--background-color);
  box-sizing: border-box;

  display: grid;
  place-items: center;

  position: relative;
}

.header-container {
  width: 100%;
  max-width: 1800px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/*************Logo*******************************/

.logo-link {
  justify-self: start;
  align-self: center;
}

.logo {
  width: 56px;
}

/*************nav*******************************/

.nav-container {
  place-self: center;
}

.hamburguer-menu {
  width: 24px;
  display: none;
}

.menu-long {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  place-items: center;
}

.menu-compressed {
  display: none;
  width: 100%;
  background-color: var(--background-color);

  position: absolute;
  top: 100%;
  left: 0;
}

.menu-compressed li {
  margin-bottom: 20px;
}

/*************social media*******************************/

.social-container {
  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.social-container img {
  width: 24px;
}

/*************utils*******************************/

.hidden {
  display: none;
}

.visible {
  display: grid;
}

/*************media queries*******************************/

/* tablet range */

@media screen and (max-width: 1200px) {
  p,
  a,
  span,
  ul,
  li {
    font-size: var(--t-paragraph-size);
  }
}

@media screen and (max-width: 690px) {
  .hamburguer-menu {
    display: block;
  }

  .menu-long {
    display: none;
  }
}

/* mobile range */

@media screen and (max-width: 600px) {
  p,
  a,
  span,
  ul,
  li {
    font-size: var(--m-paragraph-size);
  }
}
