/************* Component *******************************/

:host {
  /* Colors */
  --component-background-color: white;
  --text-color: black;

  /* Desktop font sizes*/
  --text-desktop-font-size: 21px;

  /* Tablet font sizes*/
  --text-tablet-font-size: 18px;

  /* mobile font sizes*/
  --text-mobile-font-size: 16px;

  /* Font family */
  --text-font-family: inherit;
}

:host {
  width: 100%;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
  display: block;
}

/************* Global *******************************/

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-desktop-font-size);

  text-align: center;
  margin: 0;
}

/************* Header *******************************/

header {
  width: 100%;
  padding: 12px;
  background-color: var(--component-background-color);
  box-sizing: border-box;

  display: grid;
  place-items: center;

  position: relative;
}

.header-container {
  width: 100%;
  max-width: 1800px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

/************* Logo *******************************/

.logo-link {
  justify-self: start;
  align-self: center;
}

.logo {
  width: 56px;
}

/************* Navigation *******************************/

.nav-container {
  place-self: center;
}

.hamburguer-menu {
  width: 24px;
  display: none;
}

.menu-long {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  place-items: center;
}

.menu-compressed {
  display: none;
  width: 100%;
  background-color: var(--component-background-color);

  position: absolute;
  top: 100%;
  left: 0;
}

.menu-compressed li {
  margin-bottom: 20px;
}

/************* Social Media *******************************/

.social-container {
  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.social-container img {
  width: 24px;
}

/************* Utils *******************************/

.hidden {
  display: none;
}

.visible {
  display: grid;
  place-items: center;
}

/************* Media Queries *******************************/

/************* Tablet range 600px - 1200px *****************/

@media screen and (max-width: 1200px) {
  .text {
    font-size: var(--text-tablet-font-size);
  }
}

@media screen and (max-width: 800px) {
  .hamburguer-menu {
    display: block;
  }

  .menu-long {
    display: none;
  }
}

/************* Mobile range 320px - 600px *********************/

@media screen and (max-width: 600px) {
  .text {
    font-size: var(--text-mobile-font-size);
  }
}
