/* **************** Component ************************* */

:host {
  --component-background-color: transparent;
  --title-color: black;
  --text-color: black;

  --title-font-size: 84px;
  --text-font-size: 21px;

  --title-font-family: inherit;
  --text-font-family: inherit;

  --grid-columns: 3;
  --grid-gap: 20px;
}

:host {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

/* ************** Global ***************************** */

.title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  color: var(--title-color);
  text-align: center;
  margin: 0 0 24px 0;
}

.text {
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
  color: var(--text-color);
  text-align: center;
  margin: 0;
}

/* ****************** Gallery ******************************* */

.gallery-section {
  width: 100%;
  min-width: 320px;
  max-width: 1800px;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--component-background-color);

  margin: 0 auto;
}

.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  margin-top: 56px;
}

.grid-container img {
  width: 100%;
}

/* ********************* Media queries ******************************* */

/************* Tablet range 600px - 1200px *************************/

@media screen and (max-width: 1200px) {
  .title {
    font-size: calc(var(--title-font-size) * 0.86);
  }

  .text {
    font-size: calc(var(--text-font-size) * 0.86);
  }
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: calc(var(--title-font-size) * 0.46);
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
  }
}

/************* Mobile range 320px - 600px ***************************/

@media screen and (max-width: 600px) {
  .text {
    font-size: calc(var(--text-font-size) * 0.76);
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
