.coverflow-swipe-container .swiper {
  width: 100%;
  padding-bottom: 50px;
}

.coverflow-swipe-container .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
}

.coverflow-swipe-container .swiper-slide img {
  display: block;
  width: 100%;
}
