/* ***************** component ************************** */
:host {
  --background-color: black;

  --font-color: white;

  --title-font-size: 84px;
  --text-font-size: 21px;

  --text-font-family: inherit;
  --title-font-family: inherit;
}

:host {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

/* ****************** global ************************* */

p,
h2 {
  margin: 0;
  text-align: center;
  color: var(--font-color);
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
}

.title {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);

  margin-bottom: 24px;
}

/* ******************************************* */

.hero {
  width: 100%;
  min-width: 320px;
  max-width: 1800px;
  background-color: var(--background-color);

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 64px auto;
}

.hero .hero-title-container {
  place-self: center;
}

.hero img {
  width: 100%;
}

/**********************media queries*******************************/

/************* desktop range 1200px - 1800px **********************/

@media screen and (max-width: 1690px) {
  .hero-title-container {
    width: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .title {
    font-size: calc(var(--title-font-size) * 0.61);
  }
}

/************* tablet range 600px - 1200px*************************/

@media screen and (max-width: 1200px) {
  .text {
    font-size: calc(var(--text-font-size) * 0.86);
  }

  .title {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: calc(var(--title-font-size) * 0.43);
  }

  .text {
    font-size: calc(var(--text-font-size) * 0.76);
  }
}

@media screen and (max-width: 800px) {
  .text {
    display: none;
  }

  .hero {
    margin-bottom: 40px;
  }
}

/************* mobile range 320px - 600px***************************/

@media screen and (max-width: 600px) {
  .hero {
    background-color: transparent;
    display: block;
    position: relative;
  }

  .hero-title-container {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    font-size: calc(var(--title-font-size) * 0.46);
  }

  .hero img {
    filter: brightness(0.3);
  }
}
