/************* Imports ****************************************/

@import url("/global.css");

/************* Components ****************************************/

dp-full-hero {
  --title-font-family: "Cormorant Garamond", serif;
  --title-font-size: var(--large-font-size-2);

  --text-font-family: "Raleway", sans-serif;
  --text-font-size: var(--large-font-size-0);
}
