@import url("/global.css");

/* **************** Component ******************* */
dp-header {
  --shadow-elevation-high: 0;

  position: relative;
  z-index: 2;
}

dp-hero {
  --component-background-color: #050505;
  --title-font-size: 75px;

  position: relative;
  z-index: 1;
}

dp-grid-gallery {
  --component-background-color: #050505;
  --title-color: white;

  --grid-columns: 2;
}

/* ************************************************** */

body {
  background-color: #050505;
}
