@import url("/global.css");

/* **************** Component ******************* */
dp-header {
  --shadow-elevation-high: 0;

  position: relative;
  z-index: 2;
}

dp-hero {
  --title-font-family: "Cormorant Garamond", serif;
  --title-font-size: 75px;
  --text-font-family: "Raleway", sans-serif;
  --text-font-size: var(--large-font-size-0);

  --component-background-color: #050505;

  position: relative;
  z-index: 1;
}

dp-grid-gallery {
  --title-font-size: var(--large-font-size-2);
  --text-font-size: var(--large-font-size-0);

  --title-font-family: "Cormorant Garamond", serif;
  --text-font-family: "Raleway", sans-serif;

  --component-background-color: #050505;
  --title-color: white;

  --grid-columns: 2;
}

/* ************************************************** */

body {
  background-color: #050505;
}
